@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

/* Reset CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{

}

/* Navbar container */

.container .navbar-container{
    width: 80%;
    height: 28px;
    margin: 46px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .navbar-container .navbar-container_title{
    font-weight: 700;
    font-size: 1.25rem;
}

.container .navbar-container .navbar-container_list{
    display: flex;
    list-style: none;
}

.container .navbar-container .navbar-container_list .navbar-container_item{
    margin-left: 44px;
    font-weight: 400;
    font-size: 1.125rem;
}

.container .navbar-container .navbar-container_icon {
    display: none;
}


/* Hero container */

.container .hero-container{
    width: 80%;
    height: 450px;
    margin : 99px auto 0;
    display: flex;
    justify-content: space-between;
}

.container .hero-container .hero-container_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 42px 0 49px 0;
    align-items: flex-start;
}

.container .hero-container .hero-container_content h1{
    font-weight: 700;
    font-size: 4rem;
    max-width: 540px;
}

.container .hero-container .hero-container_content p {
    font-weight: 400;
    font-size: 1.125rem;
    max-width: 515px;
}

.container .hero-container .hero-container_content button{
    border : none;
    padding : 10px 31px;
    background-color: #8EADD5;
    color : white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
}

.container .hero-container .hero-container_image{
    width: 50%;
    height: 100%;
}

/* Conpanies container */

.companies-container{
    width: 72%;
    margin : 206px auto 0;
}

.companies-container p{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color :  #667085;
}

.companies-container .companies-container_list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    background-color: #f6f6f6;
    padding: 19px 24px;
    align-items: center;
}

.companies-container .companies-container_list .companies-container_item{
    list-style: none;
}

.companies-container .companies-container_list .companies-container_item{
width: 20%;
}

.companies-container .companies-container_list .companies-container_item img{
    width: 100%;
}

/* Branding container  */

.branding-container{
    width: 80%;
    height: 450px;
    margin : 136px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding-container .brading-container_image{
    width: 40%;
}

.branding-container .branding-container_content{
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.branding-container .branding-container_content h2{
    font-size: 3rem;
    font-weight: 700;
    max-width: 436px;
}

.branding-container .branding-container_content p{
    font-size: 1rem;
    font-weight: 400;
    max-width: 392px;
    text-transform: capitalize;
}

/* Testimonials container */

.testimonials-container{
    width: 80%;
    margin : 136px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 515px;
    justify-content: space-between;
}
.testimonials-container .testimonials-container_title{
    font-size: 1rem;
    font-weight: 400;
}

.testimonials-container h2{
    font-size: 3rem;
    font-weight: 700;
    max-width: 436px;
    text-align: center;
}

.testimonials-container ul{
    width: 100%;
    display: flex;
    height: 334px;
    list-style: none;
    justify-content: space-between;
}

.testimonials-container ul li{
    width: 32.5%;
    background-color: rgb(180, 178, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.testimonials-container ul li img{
    width: 50%;
}

.testimonials-container ul li p {
    max-width: 281px;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
}


